body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}

header, .slider {
  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

.slide {
  list-style: none;
}

.slide-title h3 {
  font-family: "Roboto";
  font-size: 55px;
  line-height: 55px;
}

.slide-title p {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
}

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.features-list {
  list-style: none;
}

.features a {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.web-sites a {
  background-color: #fb565a;
}

.apps a {
  background-color: #00ca74;
}

.presentations a {
  background-color: #efc84a;
}

.feature-list h3 {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-list p {
  font-family: "Roboto";
  font-weight: normal;
  line-height: 22px;
  color: #283136;
}

.left-column b {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.left-column p {
  font-family: "Roboto";
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}

.we-can p,
.statistics-title {
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.statistics-list {
  list-style: none;
}

.value {
  font-weight: bold;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 36px;
}

.footer-slogan p {
  line-height: 22px;
}

.footer-contacts h3 {
  text-transform: uppercase;
}

.pop-up label {
  font-weight: bold;
  line-height: 18px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.filter fieldset {
  border: none;
}

.main-header h1 {
  text-align: center;
}

.filter ul {
  list-style: none;
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}

.filter-button {
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.sort {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-sort {
  list-style: none;
}

.nav-sort a {
  color: #283136;
  text-transform: uppercase;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #000000;
}

.catalog-item {
  list-style: none;
  text-align: center;
}

.catalog-item-title {
  color: #000000;
  font-weight: bold;
}

.catalog-item-info {
  background-color: #eeeeee;
  color: #666666;
}

.catalog-button {
  color: #ffffff;
  background-color: #fb565a;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #000000;
  background-color: #eeeeee;
  line-height: 18px;
  text-align: center;
}
