/* СТИЛИЗАЦИЯ ГЛАВНОЙ СТРАНИЦЫ INDEX */

body {
  margin: 0;
  padding: 0;
  min-width:1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*Главная навигация меню*/

.main-navigation {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 30px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  padding: 0;
  margin-left: 200px;
  margin-right: 280px;
  list-style: none;
}

.user-navigation {
  padding: 0;
  list-style: none;
}

.main-header-logo:hover{
  opacity: 0.8;
}
.main-header-logo:active{
  opacity: 0.3;
}

.main-header, .slider {
  background-color: #eeeeee;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;
}

/*Слайдер*/

.slider {
  position: relative;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slide {
  padding: 0;
  list-style: none;
}

.slide-title h3 {
  width: 560px;
  margin-bottom: 25px;
  font-family: "Roboto";
  font-size: 55px;
  line-height: 55px;
}

.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Заказы */

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.features {
  margin-bottom: 80px;
  border-bottom:2px solid #eeeeee;
}

.features-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 100px;
  list-style: none;
}

.features a {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.web-sites a {
  background-color: #fb565a;
}

.apps a {
  background-color: #00ca74;
}

.presentations a {
  background-color: #efc84a;
}

.features-item h3 {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-info {
  width: 260px;
  margin-bottom: 35px;
  font-family: "Roboto";
  font-weight: normal;
  line-height: 22px;
  color: #283136;
}

/* Информация про студию */

.about-us {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-bottom:2px solid #eeeeee;
  padding-bottom: 10px;
}

.left-column {
  width: 660px;
}

.right-column {
  width: 360px;
}

.left-column b {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.info-text {
  font-family: "Roboto";
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}

.info-order {
  font-weight: bold;
  text-transform: uppercase;
}

.order-list {
  list-style:none;
  margin-bottom: 75px;
}

.order-item {
  margin-bottom: 35px;
}

.statistics-title {
  margin-bottom: 45px;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.statistics-table th{
  font-size: 45px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.statistics-table td{
  width: 81px;
  height: 35px;
  line-height: 1.2;
  font-size: 16px;
}

/* Клиенты */

.clients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  border-bottom: 2px solid #eeeeee;
}

.clients a {
    opacity: 0.2;
}

.clients a:hover {
    opacity: 1;
}

.clients a:active {
    opacity: 0.1;
}

/* Footer */

.map{
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  height: 416px;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: auto;
}

.lower-footer {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.footer-social {
  display: flex;
  width: 400px;
}

.social {
  padding: 0;
  display: flex;
  width: 260px;
  margin-right: 140px;
  list-style: none;
}

.social li {
  margin-right: 10px;
}

.social-button {
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 36px;
}

.footer-slogan p {
  line-height: 22px;
}

.footer-contacts h3 {
  text-transform: uppercase;
}

.pop-up label {
  font-weight: bold;
  line-height: 18px;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  text-align: center;
  vertical-align: middle;
}

/* Страница каталог*/

.page-title{
  margin-bottom: 60px;
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 85px;
  background-color: #eeeeee;
  height: 241px;
  box-sizing: border-box;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;

}

.filters {
  width: 262px;
}

.filter {
  margin-top: 15px;
}

.filter fieldset {
  border: none;
}

.main-header h1 {
  text-align: center;
}

.filter ul {
  list-style: none;
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}

.filter-button {
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  text-align: center;
  vertical-align: middle;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 45px;
}

.sorting-title {
  width: 360px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.sorting-tools {
  width: 360px;
  justify-content: space-between;
}

.menu-sort {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.nav-sort a {
  color: #283136;
  text-transform: uppercase;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #000000;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.catalog-item {
  width: 360px;
  margin-bottom: 28px;
  margin-right: 20px;
  list-style: none;
  text-align: center;
}

.catalog-item-title {
  color: #000000;
  font-weight: bold;
}

.catalog-item-info {
  background-color: #eeeeee;
  color: #666666;
}

.catalog-button {
  color: #ffffff;
  background-color: #fb565a;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-list a {
  color: #000000;
  background-color: #eeeeee;
  line-height: 18px;
  text-align: center;
}
